@font-face {
  font-family: "CenturyGothicBold";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/CenturyGothicBold/CenturyGothicBold.eot?#iefix") format("embedded-opentype"), url("../fonts/CenturyGothicBold/CenturyGothicBold.woff") format("woff"), url("../fonts/CenturyGothicBold/CenturyGothicBold.ttf") format("truetype"); }
@font-face {
  font-family: "CenturyGothicRegular";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/CenturyGothicRegular/CenturyGothicRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/CenturyGothicRegular/CenturyGothicRegular.woff") format("woff"), url("../fonts/CenturyGothicRegular/CenturyGothicRegular.ttf") format("truetype"); }

/*# sourceMappingURL=fonts.css.map */
