@import "bourbon/bourbon"

$main-font: CenturyGothicRegular, Arial, sans-serif
$main-font-bold: CenturyGothicBold, Arial, sans-serif

html.js .loader
	background: none repeat scroll 0 0 #ffffff
	bottom: 0
	height: 100%
	left: 0
	position: fixed
	right: 0
	top: 0
	width: 100%
	z-index: 9999
	.loader_inner
		background-image: url("../img/preloader.gif")
		background-size: cover
		background-repeat: no-repeat
		background-position: center center
		background-color: #fff
		height: 60px
		width: 60px
		margin-top: -30px
		margin-left: -30px
		left: 50%
		top: 50%
		position: absolute

body
	font-family: "CenturyGothicRegular", sans-serif
	color: #070707
	font-weight: normal
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.6
	-webkit-font-smoothing: antialiased
	overflow-x: hidden
	background: url(../img/backgr.jpg) no-repeat top

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: red
body input:required:valid,
body textarea:required:valid
	color: green

.hidden
	display: none
.wrapper
	width: 100%
	position: relative
	overflow-x: hidden
	overflow-y: auto
	height: 100%
.header
	padding: 29px 0 19px
	background: #fff
	h1
		font-size: 30px
		font-weight: 400
		line-height: 22px
		text-transform: uppercase
		letter-spacing: 0.5px
		margin: 0
		text-align: center
.border-menu
	position: relative
	padding-left: 1.25px
.border-menu:before
	content: ""
	position: absolute
	top: 3px
	left: 0
	width: 22px
	height: 9px
	border-top: 2px solid #000
	border-bottom: 2px solid #000
.border-menu:after
	content: ""
	position: absolute
	top: 12px
	left: 0
	width: 22px
	height: 6px
	border-bottom: 2px solid #000
.header-icons
	text-align: right
	margin-right: 0
	li
		display: inline-block
		margin-left: 15.5px
		svg
			height: 25px
			width: 25px
.order
	text-align: center
	padding: 80px 0 78px
	.col-md-4
		background-color: #fdfdfd
		border: 2px solid #c7c7c7
		border-radius: 5px
		position: relative
		padding: 40px 0 45px
		width: 31%
		margin: 0 13px
		z-index: -1
	a
		display: block
	a:after
		content: ""
		border: 23px solid #c2d44e
		border-radius: 50%
		position: absolute
		z-index: -1
		left: 44%
		bottom: 34px
.order-img
	margin: 45px 0 40px
h2
	font-size: 25px
	font-weight: 700
	line-height: 22px
	letter-spacing: 0.35px
	font-family: $main-font-bold
.social
	background: #fff
	text-align: center
	padding: 37px 0 13px
	h4
		font-size: 20px
		line-height: 22px
	li
		display: inline-block
		width: 48px
		height: 48px
		border-radius: 12px
		margin: 27px 12px
		&:nth-child(1)
			background-color: #508bc3
			box-shadow: inset 0 -4px 0 #40709f, inset 0 0 0 1px rgba(255, 255, 255, 0.15)
		&:nth-child(2)
			background-color: #27c0c8
			box-shadow: inset 0 -4px 0 #0b848a, inset 0 0 0 1px rgba(255, 255, 255, 0.15)
		&:nth-child(3)
			background-color: #df7373
			box-shadow: inset 0 -4px 0 #ae4c4c, inset 0 0 0 1px rgba(255, 255, 255, 0.15)
		&:nth-child(4)
			background-color: #beac95
			box-shadow: inset 0 -4px 0 #827461, inset 0 0 0 1px rgba(255, 255, 255, 0.15)
		a
			display: block
			height: 100%
		i
			color: #fff
			font-size: 20px
			line-height: 48px
.offer
	text-align: center
	padding: 75px 0 180px
	background: url(../img/offer-bcg.png) repeat
	h3
		font-size: 25px
		line-height: 22px
		letter-spacing: 0.5px
	svg
		width: 106px
		height: 105px
		display: block
		margin: 15px auto 20px
	a
		background-color: #c2d44e
		border-radius: 20px
		color: #fff
		padding: 8px 15px
		margin-top: 15px
		display: inline-block
		letter-spacing: 0.3px
		&:hover
			background-color: #9ba93e
			text-decoration: none
			cursor: pointer
	span
		padding-left: 10px
.offer-text
	color: #070707
	font-size: 12px
	width: 80%
	margin: 0 auto
	line-height: 16px
	letter-spacing: 0
.breadcrumbs
	li
		display: inline-block
		padding-left: 5px
		&:not(:first-child):before
			content: "/  "
	a
		color: #070707
		font-size: 14px
		line-height: 22px
footer
	padding: 5px 0
.payment
	float: right